<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.lttng2.ui.views.category"
            class="org.eclipse.tracecompass.analysis.linux.ui.views.controlflow.ControlFlowView"
            icon="icons/eview16/control_flow_view.gif"
            id="org.eclipse.tracecompass.analysis.linux.views.controlflow"
            name="%controlflow.view.name"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.lttng2.ui.views.category"
            class="org.eclipse.tracecompass.analysis.linux.ui.views.resources.ResourcesView"
            icon="icons/eview16/resources_view.gif"
            id="org.eclipse.tracecompass.analysis.linux.views.resources"
            name="%resources.view.name"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.lttng2.ui.views.category"
            class="org.eclipse.tracecompass.analysis.linux.ui.views.cpuusage.CpuUsageView"
            id="org.eclipse.tracecompass.analysis.linux.views.cpuusage"
            name="%cpuusage.view.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.analysis.linux.views.controlflow">
         <analysisId
               id="org.eclipse.tracecompass.analysis.linux.kernel">
         </analysisId>
      </output>
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.analysis.linux.views.resources">
         <analysisId
               id="org.eclipse.tracecompass.analysis.linux.kernel">
         </analysisId>
      </output>
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.analysis.linux.views.cpuusage">
         <analysisId
               id="org.eclipse.tracecompass.analysis.linux.cpuusage">
         </analysisId>
      </output>
   </extension>
</plugin>
